body,
ul,
li,
p,
h1,
h2 {
	padding: 0;
	margin: 0;
}
ul,
li {
	text-decoration: none;
	list-style-type: none;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: #0a0c1c;
}
h1 {
	/* margin: 0 0 25px 0; */
	/* margin: 25px 0; */
	margin-bottom: 24px;
	font-size: 36px;
	font-weight: 800;
	color: #fff;
}
h2 {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
}
p {
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	opacity: 0.6;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 10px;
}
.accent {
	color: #ab5cdb;
}
.field {
	background-color: #1b1937;
	border-radius: 8px;
	min-height: 446px;
	margin: 100px 0;
	display: flex;
	overflow: hidden;
}
.info {
	padding: 72px;
}
.info-list {
	display: flex;
	justify-content: space-between;
}
.info-list__item {
	text-align: center;
}
.info-img {
	width: auto;
	mix-blend-mode: multiply;
	/* TODO - position-absolut fix-hight 240px for mobile device */
}
/* BUG - Проблеми з зображенням */
/* FIXME - Додаткові оступи на моб орієнтації */
.img-wrapper {
	position: relative;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
}
.img-wrapper::before {
	content: '';
	background: #ab5cdb;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
}
/* 	MEDIA */
@media (max-width: 1200px) {
	/* // rules here apply to devices from 993px to 1200px (inclusive) */
}
@media (max-width: 992px) {
	/* // rules here apply to devices from 769px to 992px (inclusive) */
	.field {
		flex-direction: column;
	}
	.container {
		max-width: 100%;
		padding: 0 20px;
	}
}
@media (max-width: 768px) {
	/* // rules here apply to devices from 769px to 992px (inclusive) */
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}

	.field {
		flex-direction: column-reverse;
	}
	.info {
		padding: 32px;
	}
	.info-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 16px;
		gap: 24px 0px;
	}
}

@media (max-width: 512px) {
	/* // rules here apply to devices from 0px to 768px (inclusive) */
}

